.navbar-custom{
    background-color: white;
    box-shadow:3px 3px #a1a1a1;

}
.contain{
    display: flex;
}
.nav{
    color: #000000 !important;
    font-weight:600 !important;

}
.nav:hover{
    color:#7F2473 !important;
}
.brand{
    display: inline !important;
    padding-left:10px !important;
}
