.navbar-custom{
    background-color: white;
    box-shadow:1px 1px #CCCCCC;

}
.nav{
    color: #CACACA !important;
    font-weight:600 !important;

}
.nav:hover{
    color:#7F2473 !important;
}
.brand{
    display: inline !important;
    padding-left:10px !important;
}
.toggle{
    padding:0 !important;
}