.navbar-custom{
    background-color: white;
    box-shadow:3px 3px #a1a1a1;

}
.contain{
    display: flex;
}
.brand{
    padding-left:10px !important;
}
.link{
    text-decoration: none;
    color: #000000;
    font-weight:600;
    padding:8px;
    display: block;
}
.link:hover{
    color:#7F2473;
}
.active{
 color:#ad3e9f;
}
